In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\anupam kalpnath\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: trio~=0.17 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: outcome in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: idna in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\anupam kalpnath\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver=webdriver.Chrome()
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Truthfools,3-8 Yrs
7,Data Analyst | HyVee,Bangalore/Bengaluru,Talent500,3-5 Yrs
8,Data Analyst with ANSR,"Bangalore/ Bengaluru, Karnataka",ANSR,6-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kochi/Cochin, Hyderabad/S...",L A Consultancy,3-7 Yrs

In [16]:
url=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="502714f22b6f22ee7ce1351f11fcf3a7", element="0681607745E4D54B3178C01E545ACC50_element_88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="502714f22b6f22ee7ce1351f11fcf3a7", element="0681607745E4D54B3178C01E545ACC50_element_89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="502714f22b6f22ee7ce1351f11fcf3a7", element="0681607745E4D54B3178C01E545ACC50_element_90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="502714f22b6f22ee7ce1351f11fcf3a7", element="0681607745E4D54B3178C01E545ACC50_element_91")>]

In [17]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-eastvantage-bangalore-bengaluru-4-to-6-years-200723006220
https://www.naukri.com/job-listings-data-analyst-delhivery-limited-gurgaon-gurugram-haryana-bangalore-bengaluru-karnataka-1-to-3-years-180723003988
https://www.naukri.com/job-listings-data-analyst-everest-vacuum-bangalore-bengaluru-2-to-5-years-150723500323
https://www.naukri.com/job-listings-data-analyst-synechron-hyderabad-secunderabad-pune-bangalore-bengaluru-5-to-8-years-210723501040

In [ ]:
job_title=[]

In [18]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in titles:
        job_title.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
    next_button.click()
    time.sleep(3)

Q.2

In [102]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [103]:
driver1=webdriver.Chrome()
driver1.get("https://www.naukri.com/")

In [104]:
designation=driver1.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [105]:
location=driver1.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [106]:
search=driver1.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [107]:
job_title=[]
job_location=[]
company_name=[]

In [114]:
title_tags=driver1.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver1.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver1.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [115]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [116]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name})
df

,Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
4,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech
5,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
7,Sr . Data Scientist / Manager,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech
8,Data Scientist,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech
9,Lead Data Scientist,Bangalore/Bengaluru,Siemens

In [111]:
url=driver1.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b7c9274dd3d266972b7bf9a614f566b8", element="20066D5C8C16FA0DF18561B1B201E41D_element_110")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c9274dd3d266972b7bf9a614f566b8", element="20066D5C8C16FA0DF18561B1B201E41D_element_111")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c9274dd3d266972b7bf9a614f566b8", element="20066D5C8C16FA0DF18561B1B201E41D_element_112")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c9274dd3d266972b7bf9a614f566b8", element="20066D5C8C16FA0DF18561B1B201E41D_element_113")>]

In [112]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-science-specialist-accenture-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-2-to-4-years-130223902578
https://www.naukri.com/job-listings-data-scientist-pwc-bangalore-bengaluru-mumbai-all-areas-3-to-6-years-210723000027
https://www.naukri.com/job-listings-analystics-modeling-specialist-accenture-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-6-to-8-years-130223902315
https://www.naukri.com/job-listings-data-scientist-walmart-labs-bangalore-bengaluru-4-to-8-years-210723500978

Q.3

In [167]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [174]:
driver2=webdriver.Chrome()
driver2.get(' https://www.naukri.com/')

In [175]:
designation=driver2.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [176]:
search=driver2.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [173]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [177]:
title_tags1=driver2.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags1[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags1=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags1[0:10]:
    location=i.text
    job_location.append(location)
    
company_tag=driver2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    
expe_tags=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in expe_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [178]:
location=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
location.click()
location.send_keys('Delhi/NCR')

AttributeError: 'list' object has no attribute 'click'

In [172]:
salary=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
salary.click('3-6 Lakhs')

AttributeError: 'list' object has no attribute 'click'

In [179]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [180]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data Scientist,"Hybrid - Noida, Uttar Pradesh, Bangalore/ Beng...",HCLTech,7-12 Yrs
1,ACN - Applied Intelligence - Finance - Data Sc...,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...",Accenture,2-7 Yrs
2,Sr . Data Scientist / Manager,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,7-10 Yrs
3,Data Scientist,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,3-7 Yrs
4,Director/Senior Director - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,10-15 Yrs
5,Manager/Senior Manager - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,8-12 Yrs
6,Data Scientist,"Noida, New Delhi, Bangalore/Bengaluru",Rockwell Automation,3-7 Yrs
7,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
8,Data Science - Technical Lead,"Noida, Bangalore/Bengaluru",Paytm,6-8 Yrs
9,Data Science - Senior Software Engineer,"Noida, Bangalore/Bengaluru",Paytm,3-6 Yrs

Q.4

In [273]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [274]:
driver3=webdriver.Chrome()
driver3.get('https://www.flipkart.com/')

In [275]:
product=driver3.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('Sunglasses')

In [276]:
search=driver3.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [277]:
brand_name=[]
product_description=[]
price=[]
discount=[]

In [278]:
brand_tag=driver3.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in brand_tag[0:100]:
    brand=i.text
    brand_name.append(brand)
    
product_tag=driver3.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in product_tag[0:100]:
    product=i.text
    product_description.append(product)

price_tag=driver3.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tag[0:100]:
    price1=i.text
    price.append(price1)
    
discount_tag=driver3.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tag[0:100]:
    discount1=i.text
    discount.append(discount1)

In [279]:
start=0
end=3
for page in range(start,end):
    brand_tag=driver3.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in brand_tag[0:100]:
        brand=i.text
        brand_name.append(brand)
    
    product_tag=driver3.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product_tag[0:100]:
        product=i.text
        product_description.append(product)

    price_tag=driver3.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag[0:100]:
        price1=i.text
        price.append(price1)
    
    discount_tag=driver3.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tag[0:100]:
        discount1=i.text
        discount.append(discount1)
    next_button=driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [280]:
print(len(brand_name),len(product_description),len(price),len(discount))

152 160 160 157

Q.5

In [282]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [285]:
# driver4=webdriver.Chrome()
# driver4.get('https://www.flipkart.com/apple-iphone-11-black-64-gb')   #Link is not working showing error

In [286]:
driver4=webdriver.Chrome()
driver4.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART')

In [287]:
rating=[]
review_summary=[]
full_review=[]

In [288]:
rating_tag=driver4.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag[0:100]:
    rating1=i.text
    rating.append(rating1)
    
review_tag=driver4.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag[0:100]:
    reviews=i.text
    review_summary.append(reviews)
    
fullreview_tag=driver4.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullreview_tag[0:100]:
        fullreview=i.text
        full_review.append(fullreview)

In [290]:
start=0
end=11
next_button=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

Q.6

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver5=webdriver.Chrome()
driver5.get('https://www.flipkart.com/')

In [3]:
product=driver5.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys("sneakers")

In [4]:
search=driver5.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [5]:
brand_name=[]
product_description=[]
price=[]

In [17]:
start=0
end=2
for page in range(start,end):
    brand_tag=driver5.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag[0:100]:
        brand=i.text
        brand_name.append(brand)
        
    product_tag=driver5.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tag[0:100]:
        product=i.text
        product_description.append(product)
        
    price_tag=driver5.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    for i in price_tag[0:100]:
        price1=i.text
        price.append(price1)
        
    nxt_button=driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(3)

In [18]:
page3=driver5.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
page3.click()
time.sleep(3)

Q.7

In [28]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [29]:
driver6=webdriver.Chrome()
driver6.get(' https://www.amazon.in/')

In [55]:
search_box=driver6.find_element(By.ID,"twotabsearchtextbox")
search_box.send_keys('laptop')

In [57]:
search=driver6.find_element(By.ID,'nav-search-submit-button')
search.click()

In [60]:
laptop_core=driver6.find_element(By.XPATH,'//span[@class="a-size-base a-color-base"]')
laptop_core.click()

Q.8

import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [62]:
driver7=webdriver.Chrome()
driver7.get('https://www.azquotes.com/')

In [64]:
url=driver7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
url.click()

In [65]:
quotes=[]
authors=[]
top_qoutes=[]

Q.9

In [66]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [68]:
driver8=webdriver.Chrome()
driver8.get('https://www.jagranjosh.com/')

In [69]:
option=driver8.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
option.click()

In [70]:
in_option=driver8.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
in_option.click()

In [72]:
primeminister_name=[]
born_dead=[]
termof_office=[]
remark=[]

Please provide soluntions of these